* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    position: fixed;
    background: rgb(255, 149, 88, 0.3);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.7rem 7.5%;
    top: 0;
    left: 0;
    right: 0;

}

nav .logo {
    padding: 0 1.2rem;
    text-align: center;

}

nav .menu a {

    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;

}

nav i {
    font-size: 1rem;
    margin-left: .5rem;
    height: 1.5rem;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
}

#menu-btn {
    display: none;
}

nav .menu a.active {
    color: rgb(129, 243, 22);
}

nav .menu a:hover {
    color: rgb(129, 243, 22);
}


@media(max-width: 768px) {

nav #menu-btn {
    display: inline-block;
}

nav .menu a {

    display: block;
    margin: 1rem;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    color: rgb(197, 0, 0);
    background: rgb(226, 142, 142);

}

nav .menu {
    position: absolute;
    top: 115%;
    right: 2rem;
    background: rgb(255, 149, 88, 0.3);
    width: 25rem;
    border-radius: .5rem;
    border: var(--border);
    opacity: 0;
    transform: scale(0);
    transition: none;
    transform-origin: top right;
}

nav .menu.active {
    opacity: 1;
    transform: scale(1);
    transition: .3s ease-out;
}
}

@media(max-width: 550px) {
nav .menu {
    width: 15rem;
}
}