
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url('../images/dpt.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.container {
    color: blanchedalmond;
    padding: 2rem 7%;
    margin-top: 12%;
    text-align: center;
}

.container h3 {
    font-size: 2rem;
    font-weight: 230;
    letter-spacing: 0.06;
    text-shadow: 0.06rem 0.06rem 0.12rem black;
    text-transform: capitalize;
    margin-top: 3rem;

}

.container h1 {
    font-size: 3.6rem;
    margin: 19x 0 10px 0;
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: 900;
    text-shadow: 1px 1px 5px black;
}

.container p {
    font-size: 1.5rem;
}

.container a {
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.5s;
}


.btn2 {
    background-color: rgb(129, 243, 22, 0.15);
    color: rgb(255, 227, 233);

}

.btn2:hover {
    background-color: rgb(129, 243, 22);
    color: rgb(255, 227, 233);
}

.animate__heartBeat {
    animation-iteration-count: infinite;

}

.change:after {
    content: '';
    animation: changetext 15s infinite linear;
    color: rgb(129, 243, 22);
}

@keyframes changetext {
    0% {
        content: "Grace";
    }

    15% {
        content: "Empathy";
    }

    30% {
        content: "Mankind";
    }

    45% {
        content: "Peace";
    }

    60% {
        content: "Caring";
    }

    75% {
        content: "Solidarity";
    }

    85% {
        content: "Hope";
    }

    100% {
        content: "Happiness";
    }
}




@media(max-width: 768px) {
    .container {
        padding: 2rem 9%;
        margin-top: 7rem;
    }

    .container h3 {
        font-size: 1.6rem;
        font-weight: 190;
    }

    .container h1 {
        font-size: 2.5rem;
    }

    

}

@media(max-width: 550px) {

    .container {

        margin: 10% 5%;
    }

}